body{
	background:url(../img/png.png);
}
.zag{
	text-align: center;
}
.shash{
	font-size:30px
}
.sharb{
	background: url(../img/sharb.jpg);
	width: 100%;
	height:1000px;
	background-size: contain;
	background-size:cover;
	margin-top:50px

}
.kirp{
	background: url(../img/kir.png);
	width: 100%;
	height:1000px;
	background-size: contain;
	background-size:cover;
	margin-top:50px

}
.cdfh{
	background:url(../img/cdfh.jpg);
	width: 100%;
	height:1000px;
	background-size: contain;
	background-size:cover;
	margin-top:50px

}
.dar{
	background: url(../img/dar.webp);
	width: 100%;
	height:1000px;
	background-size: contain;
	background-size:cover;
	margin-top:50px

}